{% extends "mainapp/base.html" %}


{% block content %}
{% if salary_list %}
    <ul>
        <table class="table table-sm table-striped">
            <tr>
                <th>Worked years</th>
                <th>Salary Brutto</th>
                <th>Salary Brutto Predicted</th>
            </tr>
        {% for salary in salary_list %}
            <tr>
                <td>{{ salary.workedYears }}</td>
                <td>{{ salary.salaryBrutto }}</td>
                <td>{{ salary.salaryBruttoPredicted }}</td>
            </tr>
        {% endfor %}
        </table>
    </ul>
{% else %}
    <p>No data is available.</p>
{% endif %}
{% endblock %}